{#TODO: ДОДЕЛАТЬ СТРАНИЦУ ДО ПОЛНОГО СОСТОЯНИЯ(ВСЕ КУСОЧКИ ИЗ ТИЛЬДЫ)#}
{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" href="{% static 'css/Eventsinfo.css' %}" rel="stylesheet"/>
    <link href="../../static/css/t-normalize.min.css?v=38294" rel="stylesheet">
    <link href="../../static/css/t-page-all.min.css?v=38294" rel="stylesheet">
    <link href="../../static/css/t-page-edit-all.min.css?v=38294" rel="stylesheet">


    <link href="../../static/css/t-common.min.css?v=38294" rel="stylesheet">
    <link href="../../static/css/td-uikit.min.css?v=38294" rel="stylesheet">

    <link href="../../static/css/t-futurapt.min.css?v=38294" rel="stylesheet">

    <link href="../../static/css/t-popups.min.css?v=38294" rel="stylesheet">

    <link href="../../static/css/t-project-settings.min.css?v=38294" rel="stylesheet">
    <link href="../../static/css/t-upload.min.css?v=38294" type="text/css" rel="stylesheet"/>

    <link href="../../static/css/t-colorpicker.min.css?v=38294" type="text/css" rel="stylesheet"/>



    <link href="https://front.tildacdn.com/plugins/selectbox/t-selectbox.min.css?v=38294" rel="stylesheet">
    <script src="https://front.tildacdn.com/plugins/selectbox/t-selectbox.min.js?v=38294" async=""></script>

    <link href="https://front.tildacdn.com/plugins/previewbox/t-previewbox.min.css?v=38294" rel="stylesheet">
    <script src="https://front.tildacdn.com/plugins/previewbox/t-previewbox.min.js?v=38294" async=""></script>

    <link href="https://front.tildacdn.com/plugins/shadowpicker/t-shadowpicker.min.css?v=38294" rel="stylesheet">
    <script src="https://front.tildacdn.com/plugins/shadowpicker/t-shadowpicker.min.js?v=38294" async=""></script>

    <link href="https://static.tildacdn.com/css/tilda-cards-1.0.min.css" rel="stylesheet" media="screen">
    <link href="https://static.tildacdn.com/css/tilda-forms-1.0.min.css" rel="stylesheet" media="screen">
    <link href="https://static.tildacdn.com/css/tilda-cover-1.0.min.css" rel="stylesheet" media="screen">
    <link href="https://static.tildacdn.com/css/tilda-slds-1.4.min.css" rel="stylesheet" media="screen">
    <link href="https://static.tildacdn.com/css/tilda-carousel-1.0.min.css" rel="stylesheet" media="screen">
    <link href="https://static.tildacdn.com/css/ya-share.css" rel="stylesheet" media="screen">
    <link href="https://static.tildacdn.com/css/carousel-btstrp.min.css" rel="stylesheet" media="screen">
    <link href="https://static.tildacdn.com/css/tilda-zero-gallery-1.0.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <!-- Меню -->
    <div class="menu">
        <div class="container">
            <h1>Название сайта</h1>
            <a href="#">Главная</a>
            <a href="#">Список Мероприятий</a>
            <a href="{% url 'profile' request.user.pk %}">Профиль</a>
        </div>
    </div>

    <div class="t497">


        <ul role="list" class="t497__container t-container">


            <li class="t497__col t-col t-col_4  t497__col_first t-item t-list__item"
                style="margin-top:45px;">

                <div class="t497__item">
                    <div class="t-cell t-valign_top">
                        <div class="t497__imgwrapper">
                            <img class="t497__img  t-img"
                                 src="https://static.tildacdn.com/tild3466-3337-4138-b164-616538663563/8yo_hours.svg"
                                 imgfield="li_img__1476973323713"
                                 style="max-width: 100px; max-height: 100px" alt="">
                        </div>
                    </div>
                    <div class="t497__textwrapper t-cell t-valign_top">
                        <div class="t497__name t-name t-name_lg" field="li_title__1476973323713">23 АВГУСТА, 19.00</div>
                    </div>
                </div>
            </li>


            <li class="t497__col t-col t-col_5   t-item t-list__item"
                style="margin-top:45px;">

                <div class="t497__item">
                    <div class="t-cell t-valign_top">
                        <div class="t497__imgwrapper">
                            <img class="t497__img  t-img"
                                 src="https://static.tildacdn.com/tild3132-6261-4264-b630-356133396331/education_location.svg"
                                 imgfield="li_img__1476973326928"
                                 style="max-width: 100px; max-height: 100px" alt="">
                        </div>
                    </div>
                    <div class="t497__textwrapper t-cell t-valign_top">
                        <div class="t497__name t-name t-name_lg" field="li_title__1476973326928">БИЗНЕС ЦЕНТР ДЕМИДОВ
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="record" id="record719243343" recordid="719243343" off="" data-record-type="255" data-record-category="8"
         data-record-cod="TL02A" data-ai-tpl="y">


    <div id="rec719243343" class="r" style="padding-top:30px;padding-bottom:0px; ">

    <!-- T225 -->
    <div class="t225">
        <div class="t-container t-align_left">
            <div class="t-col t-col_9 ">
                <div class="t225__title t-title t-title_md" field="title">IT митап в Краснодаре<br/>для разработчиков
                </div>
            </div>
        </div>
    </div>

    <div class="record" id="record719243344" recordid="719243344" off="" data-record-type="468"
         data-record-category="25" data-record-cod="AB103" data-ai-tpl="y">


    <div id="rec719243344" class="r" style="padding-top:105px;padding-bottom:135px; ">

    <!-- t468 -->

    <div class="t468">
        <div class="t-container t-align_left">
            <div class="t-col t-col_8 ">
                <div class="t468__descr t-descr t-descr_xl " field="descr">В этот раз мы собираемся на митапе 23 августа
                    для того, чтобы обсудить рынок IT-разработки и обменяться своим опытом. Вас ждут 3 небольших доклада
                    от экспертов и неформальное общение с разработчиками из разных компаний. Участие во встрече
                    бесплатное.
                </div>
            </div>
        </div>
    </div>

    <div class="record" id="record719243345" recordid="719243345" off="n" data-record-type="491"
         data-record-category="26" data-record-cod="FR205" data-ai-tpl="y">


        <div id="rec719243345" class="r" style="padding-top:135px;padding-bottom:135px; background-color:#f2f0f5;"
             data-bg-color="#f2f0f5">

            <!-- t491 -->


            <style> #rec719243344 .t468__uptitle {
                color: #000000;
                text-transform: uppercase;
            }

            #rec719243344 .t468__title {
                color: #000000;
            }

            #rec719243344 .t468__descr {
                font-size: 22px;
                color: #000000;
            }</style>


        </div>


        <script type="text/javascript">
            $(document).ready(function () {

                addEditUi("719243344", "468");
                addEditFieldEvents_new("719243344");
                addEditOnReady("719243344");

            });
        </script>


    </div>


    <div class="t491">

        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_left">
                    <div class="t-section__title t-title t-title_xs" field="btitle">Что будет на митапе</div>
                    <div class="t-section__descr t-descr t-descr_xl" field="bdescr">На митапе вы можете узнать новые
                        фишки от#nbsp;других разработчиков и пообщаться с#nbsp;интересными людьми.
                    </div>
                </div>
            </div>
        </div>

        <div class="t491__container t-card__container t-container">


            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item" data-animate-style="fadeinup"
                 data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img  t-img"
                             src="https://static.tildacdn.com/tild6261-3333-4966-a166-383330353061/photostudio_tea.svg"
                             imgfield="li_img__1476976310929"
                             data-tu-max-width="400" data-tu-max-height="400" style="width:65px;" alt="">

                        <div class="t-card__title t-name t-name_sm" field="li_title__1476976310929"
                             data-redactor-nohref='yes'>
                            Знакомство и кофе
                        </div>
                    </div>

                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476976310929"
                         data-redactor-nohref='yes'>
                        Мы собираемся в 19.00, пьем кофе, знакомимся, рассказываем о себе и делимся последними новостями
                        IT-мира.
                    </div>
                </div>
            </div>


            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item" data-animate-style="fadeinup"
                 data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img  t-img"
                             src="https://static.tildacdn.com/tild3736-3437-4538-a439-386661316462/Layer_18.svg"
                             imgfield="li_img__1476976315081"
                             data-tu-max-width="400" data-tu-max-height="400" style="width:65px;" alt="">

                        <div class="t-card__title t-name t-name_sm" field="li_title__1476976315081"
                             data-redactor-nohref='yes'>
                            Доклады спикеров
                        </div>
                    </div>

                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476976315081"
                         data-redactor-nohref='yes'>
                        С 19.30 выступают 3 эксперта, рассказывают о своем опыте и делятся интересными проектами.
                    </div>
                </div>
            </div>


            <div class="t-card__col t-card__col_withoutbtn t491__col t-col t-col_4 t-item" data-animate-style="fadeinup"
                 data-animate-chain="yes">
                <div class="t491__content">
                    <div class="t491__wrapper">
                        <img class="t491__img  t-img"
                             src="https://static.tildacdn.com/tild3462-6432-4564-b837-363966333731/Layer_19.svg"
                             imgfield="li_img__1476976330452"
                             data-tu-max-width="400" data-tu-max-height="400" style="width:65px;" alt="">

                        <div class="t-card__title t-name t-name_sm" field="li_title__1476976330452"
                             data-redactor-nohref='yes'>
                            Комментарии и обсуждение<br/>
                        </div>
                    </div>

                    <div class="t-card__descr t-descr t-descr_xs" field="li_descr__1476976330452"
                         data-redactor-nohref='yes'>
                        После докладов можно задать спикерам интересующие вопросы, пообщаться и обменяться опытом.
                    </div>
                </div>
            </div>
        </div>


    </div>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    63565464566
    </body>
    </html>
{% endblock %}
