{# TODO: найти стили css и разобраться с цветом, посмотреть, каким образом можно скроллить пейджи мероприятий(возможно карусель) #}
{# TODO:  подобрать стили так, чтобы адекватно отображались все пейджи мероприятий, в том числе 1, 2  #}
{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/courusel-style.css' %}" rel="stylesheet"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css"
    />
{% endblock %}

{% block content %}
    <!-- Меню -->
    <div class="menu">
        <div class="container">
            <h1>Название сайта</h1>
            <a href="{% url 'home' %}">Главная</a>
            <a href="#">Список Мероприятий</a>
            <a href="{% url 'profile' request.user.pk %}">Профиль</a>
        </div>
    </div>

    <!-- Основной блок -->
    <div class="container main-block">
        <!-- Ближайшие мероприятия -->
        <h2>Ближайшее мероприятие</h2>

        <div class="wrapper">
            <div class="item-bg"></div>

            <div class="news-slider">
                <div class="news-slider__wrp swiper-wrapper">
                    {% for nearly_ev in Nearly_event %}
                        <div class="news-slider__item swiper-slide">
                            <a href="{% url 'Eventsinfo' nearly_ev.pk %}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">{{ nearly_ev.date }}</span>
                                </div>
                                <div class="news__title">
                                    {{ nearly_ev.title }}
                                </div>

                                <p class="news__txt">
                                    {{ nearly_ev.information|truncatechars:25 }}
                                </p>

                                <div class="news__img">
                                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-3.webp"
                                         alt="news">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>


                <div class="news-slider__ctr">

                    <div class="news-slider__arrows">
                        <button class="news-slider__arrow news-slider-prev">
                                <span class="icon-font">
                                    <svg class="icon icon-arrow-left">
                                        <use href="#icon-arrow-left"></use>
                                    </svg>
                                </span>
                        </button>
                        <button class="news-slider__arrow news-slider-next">
                                <span class="icon-font">
                                    <svg class="icon icon-arrow-right">
                                        <use href="#icon-arrow-right"></use>
                                    </svg>
                                </span>
                        </button>
                    </div>
                    <div class="news-slider__pagination"></div>
                </div>

                <svg hidden="hidden">
                    <defs>
                        <symbol id="icon-arrow-left" viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
                        </symbol>
                        <symbol id="icon-arrow-right" viewBox="0 0 32 32">
                            <title>arrow-right</title>
                            <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
                        </symbol>
                    </defs>
                </svg>

            </div>

            <!-- Другие ближайшее мероприятие -->
            <!-- Здесь можно добавить еще карточки с другими ближайшими мероприятиями -->
        </div>

    <br>
        <!-- Будущие мероприятия -->
        <h2>Будущие мероприятия</h2>
        <div class="wrapper">
            <div class="item-bg"></div>

            <div class="news-slider">
                <div class="news-slider__wrp swiper-wrapper">
                    {% for future_ev in Future_event %}
                        <div class="news-slider__item swiper-slide">
                            <a href="{% url 'Eventsinfo' future_ev.pk %}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">{{ future_ev.date }}</span>
                                </div>
                                <div class="news__title">
                                    {{ future_ev.title }}
                                </div>

                                <p class="news__txt">
                                    {{ future_ev.information|truncatechars:25 }}
                                </p>

                                <div class="news__img">
                                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-3.webp"
                                         alt="news">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>


                <div class="news-slider__ctr">

                    <div class="news-slider__arrows">
                        <button class="news-slider__arrow news-slider-prev">
                                <span class="icon-font">
                                    <svg class="icon icon-arrow-left">
                                        <use href="#icon-arrow-left"></use>
                                    </svg>
                                </span>
                        </button>
                        <button class="news-slider__arrow news-slider-next">
                                <span class="icon-font">
                                    <svg class="icon icon-arrow-right">
                                        <use href="#icon-arrow-right"></use>
                                    </svg>
                                </span>
                        </button>
                    </div>
                    <div class="news-slider__pagination"></div>
                </div>

                <svg hidden="hidden">
                    <defs>
                        <symbol id="icon-arrow-left" viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
                        </symbol>
                        <symbol id="icon-arrow-right" viewBox="0 0 32 32">
                            <title>arrow-right</title>
                            <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
                        </symbol>
                    </defs>
                </svg>

            </div>

            <!-- Другие ближайшее мероприятие -->
            <!-- Здесь можно добавить еще карточки с другими ближайшими мероприятиями -->
        </div>
    <br>

        <!-- Прошедшие мероприятия -->
        <h2>Прошедшие мероприятия</h2>
        <div class="wrapper">
            <div class="item-bg"></div>

            <div class="news-slider">
                <div class="news-slider__wrp swiper-wrapper">
                    {% for past_event in Past_event %}
                        <div class="news-slider__item swiper-slide">
                            <a href="{% url 'Eventsinfo' past_event.pk %}" class="news__item">
                                <div class="news-date">
                                    <span class="news-date__title">{{ past_event.date }}</span>
                                </div>
                                <div class="news__title">
                                    {{ past_event.title }}
                                </div>

                                <p class="news__txt">
                                    {{ past_event.information|truncatechars:25 }}
                                </p>

                                <div class="news__img">
                                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1537132205/news-slider/item-3.webp"
                                         alt="news">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>


                <div class="news-slider__ctr">

                    <div class="news-slider__arrows">
                        <button class="news-slider__arrow news-slider-prev">
                                <span class="icon-font">
                                    <svg class="icon icon-arrow-left">
                                        <use href="#icon-arrow-left"></use>
                                    </svg>
                                </span>
                        </button>
                        <button class="news-slider__arrow news-slider-next">
                                <span class="icon-font">
                                    <svg class="icon icon-arrow-right">
                                        <use href="#icon-arrow-right"></use>
                                    </svg>
                                </span>
                        </button>
                    </div>
                    <div class="news-slider__pagination"></div>
                </div>

                <svg hidden="hidden">
                    <defs>
                        <symbol id="icon-arrow-left" viewBox="0 0 32 32">
                            <title>arrow-left</title>
                            <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
                        </symbol>
                        <symbol id="icon-arrow-right" viewBox="0 0 32 32">
                            <title>arrow-right</title>
                            <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
                        </symbol>
                    </defs>
                </svg>

            </div>

            <!-- Другие ближайшее мероприятие -->
            <!-- Здесь можно добавить еще карточки с другими ближайшими мероприятиями -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/courusel-style.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>

{% endblock %}
