{# TODO Страница мероприятия: необходимо доделать верхнее меню, таймер мероприятия, разные этапы мероприятий с добавлением этих этапов (максимум 5)#}
{# TODO : Мне : разобраться с цветом и выбрать фон #}

{% extends 'main/base.html' %}
{% load static %}


{% block title %}
    {{ title }}
{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" href="{% static 'css/Eventsinfo.css' %}" rel="stylesheet"/>

    <!-- Css Styles -->
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/elegant-icons.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/magnific-popup.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/slicknav.min.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet"/>


{% endblock %}


<meta charset="UTF-8">
<meta name="description" content="Manup Template">
<meta name="keywords" content="Manup, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Manup | Template</title>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


{% block content %}

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    {#    <!-- Header Section Begin -->#}
    {#    <header class="header-section">#}
    {#        <div class="container">#}
    {#            <div class="logo">#}
    {#                <a href="./index.html">#}
    {#                    <img src="img/logo.png" alt="">#}
    {#                </a>#}
    {#            </div>#}
    {#            <div class="nav-menu">#}
    {#                <nav class="mainmenu mobile-menu">#}
    {#                    <ul>#}
    {#                        <li class="active"><a href="{% url 'home' %}">Главная</a></li>#}
    {#                        <li><a href="{% url 'Events' %}">Список мероприятий</a></li>#}
    {#                        <li><a href="{% url 'profile' request.user.pk %}">Профиль</a></li>#}
    {#                    </ul>#}
    {#                </nav>#}
    {#            </div>#}
    {#            <div id="mobile-menu-wrap"></div>#}
    {#        </div>#}
    {#    </header>#}
    {#    <!-- Header End -->#}

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" style="box-shadow: 0 3px 2px -2px gray;" data-setbg="img/hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text">
                        <span>{{ event.date }}, {{ event.adress }}</span>
                        <h2>{{ event.title }}</h2>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="img/hero-right.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Counter Section Begin -->
    <section class="counter-section bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="counter-text">
                        <span>{{ event.date }} {{ event.time }}</span>
                        <h3>Считайте секунды <br/>До мероприятия!</h3>
                    </div>
                </div>
                <div hidden id="current_time" name="{{ event_out }}"></div>
                <div class="col-lg-8">
                    <div class="cd-timer" id="countdown">
                        <div class="cd-item">
                            <span>10</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Hours</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Minutes</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Home About Section Begin -->
    <section class="home-about-section spad" style="background-color: #2A3457">
        <div class="container" style="background-color: #2A3457">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src="{{ event.img.url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2>О мероприятии</h2>
                        <p>{{ event.information }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->

    <!-- Schedule Section Begin -->
    <section class="schedule-section spad " style="background-color: #2A3457">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Этапы мероприятия</h2>
                        <p>Не потеряйте важную информацию</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            {% for stage in stages %}
                                <li class="nav-item">
                                    {% if forloop.counter == 1 %}
                                        <a class="nav-link active" data-toggle="tab" href="#tabs-{{ forloop.counter }}"
                                           role="tab">
                                            <h5>{{ stage.title }}</h5>
                                            <p>{{ stage.date }}</p>
                                        </a>
                                    {% else %}
                                        <a class="nav-link" data-toggle="tab" href="#tabs-{{ forloop.counter }}"
                                           role="tab">
                                            <h5>{{ stage.title }}</h5>
                                            <p>{{ stage.date }}</p>
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}

                        </ul><!-- Tab panes -->
                        <div class="tab-content">

                            {% for stage in stages %}
                                {% if forloop.counter == 1 %}
                                    <div class="tab-pane active" id="tabs-{{ forloop.counter }}" role="tabpanel">
                                {% else %}
                                    <div class="tab-pane" id="tabs-{{ forloop.counter }}" role="tabpanel">
                                {% endif %}
                            <div class="st-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="sc-pic">
                                                <img src="{{ stage.img.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="sc-text">
                                                <h4>{{ stage.information }}</h4>
{#                                                <ul>#}
{#                                                    <li><i class="fa fa-user"></i></li>#}
{#                                                </ul>#}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="sc-widget">
                                                <li><i class="fa fa-clock-o"></i>{{ stage.time }}</li>
                                                <li><i class="fa fa-map-marker"></i>{{ stage.date }}
                                                </li>
                                                <li><i class="fa fa-envelope"></i>{{ stage.contact_email }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Newslatter Section Begin -->
    <section class="newslatter-section" style="background-color:#2A3457">
        <div class="container">
            <div class="newslatter-inner set-bg" data-setbg="img/newslatter-bg.jpg" style="background-image: url(&quot;img/newslatter-bg.jpg&quot;);">
                <div class="ni-text">
                    <h3>Участие в мероприятии</h3>
                    <p>Для участия в мероприятии просто нажмите кнопку!</p>
                </div>
                <form action="" class="ni-form" method="post">
                    {% csrf_token %}
{#                    <input type="text" placeholder="Your email">#}
                    <button type="submit" value="Update">Участвовать</button>
                </form>
            </div>
        </div>
    </section>
    <!-- Newslatter Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad" style="background-color: #2A3457">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>Контактная информация</h2>
                        <p>Не потеряйтесь в пути</p>
                    </div>
                    <div class="cs-text">
                        <div class="ct-address">
                            <span>Адрес:</span>
                            <p>{{ event.address }}</p>
                        </div>
                        <ul>
                            <li>
                                <span>Телефон для связи:</span>
                                {{ event.contact_phone }}
                            </li>
                            <li>
                                <span>Почта для связи:</span>
                                {{ event.contact_email }}
                            </li>
                        </ul>
                        <div class="ct-links">
                            <span>Вебсайт:</span>
                            <a href={{ event.contact_website }}>{{ event.contact_website }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cs-map">
                        <iframe
                                src="{{ event.googleMap_address_link }}"
                                height="400" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Для кнопки регистрации -->
    <form action="" method="post">
    {% csrf_token %}
        <div style="margin-left: 145px;">
            <button type="submit" value="Update" class="btn btn-success">Обновить</button>
        </div>
    </form>

    <!-- Contact Section End -->

{% endblock %}

{% block scripts %}

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}