{# TODO: найти стили css и разобраться с цветом #}
{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block cssfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet"/>


{% endblock %}

{% block content %}
    <!-- Меню -->
    <div class="menu">
        <div class="container">
            <h1>Название сайта</h1>
            <a href="#">Главная</a>
            <a href="{% url 'Events' %}">Список Мероприятий</a>
            <a href="{% url 'profile' request.user.pk %}">Профиль</a>
        </div>
    </div>

    <!-- Основной блок -->
    <div class="container main-block">
        <!-- Ближайшие мероприятия -->
        <h2>Ближайшее мероприятие</h2>
        <div class="row">
            <div class="col-md-9">
                <div class="card event-card">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                    <div class="card-body">
                            <h5 class="card-title">{{ Nearly_event.title }}</h5>
                            <p class="card-text">{{ Nearly_event.date }}</p>
                            <p class="card-text">{{ Nearly_event.information }}</p>
                            <button type="button" class="btn btn-primary"><a style="color: #e0e0e0!important;"
                                                                             href="{% url 'Eventsinfo' Nearly_event.pk %}">Подробнее</a>
                            </button>
                    </div>
                </div>
            </div>
            <!-- Другие ближайшее мероприятие -->
            <!-- Здесь можно добавить еще карточки с другими ближайшими мероприятиями -->
        </div>
        <!-- Прошедшие мероприятия -->

    </div>
{% endblock %}

