{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block cssfiles %}
  <link type="text/css" href="{% static 'css/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Настройка профиля</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Имя</label><input type="text" class="form-control" placeholder="Имя" value=""></div>
                    <div class="col-md-6"><label class="labels">Фамилия</label><input type="text" class="form-control" value="" placeholder="Фамилия"></div>
                    <div class="col-md-6"><label class="labels">Отчество</label><input type="text" class="form-control" value="" placeholder="Отчество"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Номер телефона</label><input type="text" class="form-control" placeholder="+8(123)456-78-90" value=""></div>
                    <div class="col-md-12"><label class="labels">Группа</label><input type="text" class="form-control" placeholder="ваша учебная группа" value=""></div>
                    <div class="col-md-12"><label class="labels">Электронная почта студента</label><input type="text" class="form-control" placeholder="isip_a.a.ivanov@gmail.com" value=""></div>
                    <div class="col-md-12"><label class="labels">Личная электронная почта</label><input type="text" class="form-control" placeholder="a.a.ivanov@mail.com" value=""></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}