body {
    background: #172D13
}

.form-control:focus {
    box-shadow: none;
    border-color: #D76F30
}

.profile-button {
    background: #351619;
    box-shadow: none;
    border: none;
    position: relative;
    right: 5px;
    left: 4px;
    top: 2px;
    bottom: 4px;
}

.profile-button2 {
    background: #351619;
    box-shadow: none;
    border: none;
    position: relative;
    right: 10px;
    left: 8px;
    top: 4px;
    bottom: 8px;
}

.profile-button:hover {
    background: #6BB77B
}

.profile-button:focus {
    background: #6BB77B;
    box-shadow: none
}

.profile-button:active {
    background: #6BB77B;
    box-shadow: none
}

.back:hover {
    color: #61c2c2;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}